/* Global */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import './reset.css';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #fff;
    background-color: #eeeeee;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* Utilities */
.container {
    width: calc(100% - 7rem);
    margin: 0 auto;
    height: 100%;
}

.h1 {
    font-size: 6rem;
    line-height: 1.4;
}

.h2 {
    font-size: 5rem;
}

.description {
    font-size: 1.75rem;
    line-height: 1.6;
}

/* Header */
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 8rem;
    z-index: 2;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-brand-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.brand {
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
    transform: scaleY(.75);
}

.main-navigation-container {
    display: flex;
    align-items: center;
}

.nav-primary .menu-item a {
    font-size: 1.4rem;
}

.nav-secondary {
    margin-left: 116px;
}

.nav-secondary .menu-item a {
    font-size: 1.8rem;
}

.menu-items-list {
    display: flex;
}

.menu-item {
    margin-left: 45px;
}

.menu-item a {
    color: #fff;
}

/* Home Page */
.home-page-hero {
    background-color: rgb(23, 49, 97);
    height: 100vh;
    max-height: 930px;
}

.home-page-hero .container {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.home-page-hero-content {
    align-self: center;
    padding-left: 8.33%;
}

.home-page-hero-content h1 {
    font-weight: 400;
}

.home-page-hero-content p {
    margin-top: 1.6rem;
}

/* Homepage animated buttton */
.home-page-hero-content a {
    font-size: 1.6rem;
    padding: 1rem 0 2rem 0;
    max-width: 22.5rem;
    width: 100%;
    margin-top: 5.2rem;
    display: inline-block;
    position: relative
}

.home-page-hero-content a i {
    position: absolute;
    right: 0;
}

.home-page-hero-content a::before {
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition-delay: 0s;
}

.home-page-hero-content a:hover::before {
    transform: scaleX(1);
    transition-delay: 0.25s;
}

.home-page-hero-content a::after, .home-page-hero-content a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0;
    transition: transform 0.4s cubic-bezier(0.65, 0.005, 0.35, 0.995);
}

.home-page-hero-content a::after {
    background-color: #fff;
    transform-origin: right;
    transition-delay: 0.25s;
}

.home-page-hero-content a:hover::after {
    transform: scaleX(0);
    transition-delay: 0s;
}

.home-page-hero-image {
    position: relative;
    right: -3.5rem;
    z-index: 1;
}

.home-page-hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(50%);
}